@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kino ASP.NET</h1>
    <p class="lead">Aplikacja dla Kina w ASP.NET MVC</p>
    <p><a href="https://azuredeploy.net/?repository=https://github.com/user/repo" target="_blank">
    <img src="http://azuredeploy.net/deploybutton.png" /></a></p>
</div>
